@import '../../styles/vars.scss';

.contact-form__input {
  padding: 20px 77px;
  color: $text-color;
  width: 100%;
  background: #3D4651;
  border-radius: 9px;
  font-size: 25px;
  line-height: 40px;

  &::placeholder {
    color: $text-color;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 575px;
  margin-top: 50px;
}

.contact-form__textaera {
  height: 341px;
  resize: none;
}

.contact-form__btn {
  padding: 20px 0;
  width: 100%;
  color: $text-color;
  text-transform: uppercase;
  background-color: #55549D;
  font-size: 25px;
  letter-spacing: 0.15em;
  line-height: 40px;
}

/* 992-1200px */

@media screen and (max-width: 1200px) {
  .contact-form {
    width: 500px;
  }
}